LOGIN_TRUE=Bienvenido al sistema!
LOGIN_FALSE=Usuario o clave incorrectos
OPER_NO=No se pudo realizar la operación
OPER_OK=Operación realizada con éxito
REPASS_NO=La clave nueva y la repetida deben ser iguales
PASS_NO=La clave nueva no puede estar vacia
USER_NO=Usuario o clave incorrectos
PASS_OK=La clave fue cambiada con éxito
DELETE=¿Desea realmente eliminar el registro seleccionado?
DATOS_NO=Debe ingresar todos los datos o Existen datos que fueron ingresados de forma errónea
USER_EXISTE=Ya existe otro usuario con ese Username
TITLE_PDF=Usuarios del Sistema
ARCH_SAVE=Se generó el archivo: 
ARCH_OPEN=¿Desea abrirlo ahora?
CAR_PROD=¿Desea continuar cargando productos para la venta?
CANT_ERR=Cantidad No Válida para el Producto Seleccionado
